<ion-header class="ion-no-border">
  
  <ion-list lines="none">
    <ion-item color="primary">
      <ion-label color="light">Informasi Alur Pencarian Fee</ion-label>
      <ion-avatar slot="end">
        <img src="assets/Logo_UNBIN_BULAT.jpeg.jpg" >
      </ion-avatar>
    </ion-item>
  </ion-list>
</ion-header>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-lZLK+MD6dzg8GCIhpGdWYwHPn7Lyf6M8Pd1PT7/NF3s0sXTFqcbB8P3jHe3Ac0Ap" crossorigin="anonymous"></script>
<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" id="bootstrap-css"> -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
crossorigin="anonymous">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> 

<!------ Include the above in your HEAD tag ---------->

<ion-content [fullscreen]="true">
  <div class="container mt-3">
      <ul class="timeline">
          <li>
            <div class="time-label mt-4">
              <span class="label label-success" style="background-color:green; color:white; padding:10px;">Data Pendaftaran</span>
            </div>
            <div class="timeline-badge info mt-5"><i class="fa-solid fa-user"></i></div>
            <div class="timeline-panel">
              <div class="timeline-body">
                <h6><a href="#">Pengecekan nominal fee pendaftaran</a> dapat di cek melalui menu <b>Data Pendaftaran.</b></h6>
                <p>Pastikan terdapat jumlah fee pendaftaran</p>
              </div>
            </div>
          </li>
          <li>
            <div class="time-label mt-4">
              <span class="label label-success" style="background-color:green; color:white; padding:10px;">Konfirmasi ke bagian BAUM</span>
            </div>
            <div class="timeline-badge info mt-5"><i class="fa-solid fa-user"></i></div>
            <div class="timeline-panel">
              <div class="timeline-body">
                <a href="#">BAU,</a> silahkan anda untuk konfirmasi dengan menunjukan daftar data pendaftaran dengan status <a href="#">"Verifikasi Pendaftaran Ok."</a>
              </div>
            </div>
          </li>
            <li>
              <div class="time-label mt-4">
              <span class="label label-danger" style="background-color:red; color:white; padding:10px;">Proses pencairan fee selesai</span>
            </div>
            </li>
            <li>
              <div class="timeline-badge warning mt-0"  ><i class="fa-regular fa-clock"></i></div>
          </li>
      </ul>   
      
  </div>