<ion-header class="ion-no-border">
  
  <ion-list lines="none">
    <ion-item color="primary">
      <ion-label color="light">Informasi Alur PMB</ion-label>
      <ion-avatar slot="end">
        <img src="assets/Logo_UNBIN_BULAT.jpeg.jpg" >
      </ion-avatar>
    </ion-item>
  </ion-list>
</ion-header>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-lZLK+MD6dzg8GCIhpGdWYwHPn7Lyf6M8Pd1PT7/NF3s0sXTFqcbB8P3jHe3Ac0Ap" crossorigin="anonymous"></script>
<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" id="bootstrap-css"> -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
crossorigin="anonymous">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> 

<!------ Include the above in your HEAD tag ---------->

<ion-content [fullscreen]="true">
  <div class="container mt-3">
      <ul class="timeline">
          <li>
            <div class="time-label mt-4">
              <span class="label label-success" style="background-color:green; color:white; padding:10px;">Pendaftaran</span>
            </div>
            <div class="timeline-badge info mt-5"><i class="fa-solid fa-user"></i></div>
            <div class="timeline-panel">
              <div class="timeline-body">
                <h6><a href="#">Kegiatan pendaftaran</a> dapat dilakukan mulai <b>tanggal 2 Januari s/d 31 Agustus 2024</b></h6>
                <p>Biaya Penddaftaran sebesar Rp.300.000,00.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="time-label mt-4">
              <span class="label label-success" style="background-color:green; color:white; padding:10px;">  <small> Mengikuti Tes Potensi Akademik dan Wawancara</small></span>
            </div>
            <div class="timeline-badge info mt-5"><i class="fa-solid fa-user"></i></div>
            <div class="timeline-panel">
              <div class="timeline-body">
                <a href="#">Tes Potensi Akademik (TPA)</a> Kegiatan ini dilakukan untuk mengetahui kompetensi pengetahuan umum dimana ada 3 jenis pertanyaan. diantaranya adalah pertanyaan <b>Logika</b> <b>Matematika</b> dan <b>Umum,</b>  <a href="#">TPA</a> dilakukan menggunakan berbasis komputer yang diselenggarakan offline/online. <a href="#">Wawancara</a> Kegiatan ini dilakukan untuk mengetahui minat dan bakat calon mahasiswa<b>.</b>
             </div>
            </div>
          </li>
          <li>
            <div class="time-label mt-4">
              <span class="label label-success" style="background-color:green; color:white; padding:10px;">  <small> Pengumuman Hasil TPA dan Melakukan Biaya Daftar Ulang</small></span>
            </div>
            <div class="timeline-badge info mt-5"><i class="fa-solid fa-user"></i></div>
            <div class="timeline-panel">
              <div class="timeline-body">
                <h6><a href="#">Kegiatan daftar ulang</a> Bisa dilakukan secara <b>Online</b> atau <b>Offline.</b></h6>
                <p>Setelah ada pengumuman mengenai lolos atau tidaknya terhadap nilai TPA, maka calon mahasiswa yang <b>dinyatakan lolos</b> bisa langsung melakukan kegiatan <b>daftar ulang.</b></p>
              </div>
            </div>
          </li>
          <li>
            <div class="time-label mt-4">
              <span class="label label-danger" style="background-color:red; color:white; padding:10px;">Melakukan Kegiatan Pra-Studi</span>
            </div>
            <div class="timeline-badge info mt-5"><i class="fa-solid fa-user"></i></div>
            <div class="timeline-panel">
              <div class="timeline-body">
                <h6><a href="#">Pelaksanan kegiatan Pra-studi</a> Dilaksanakan di 1 lokasi.</h6>
                <p>Fakultas Informatika Komputer dan Fakultas Ekonomi dan Bisnis di <b>Gedung Kampus Pajajaran</b>.</p>
              </div>
            </div>
          </li>
          <li>
              <div class="timeline-badge warning mt-0"  ><i class="fa-regular fa-clock"></i></div>
          </li>
      </ul>
  </div>
  </ion-content>