ion-card {
  margin: 20px;
}

ion-list {
  padding: 10px;
}

ion-item {
  margin-bottom: 15px;
}

ion-label {
  font-size: 14px;
}

ion-select {
  font-size: 14px;
}

ion-input {
  font-size: 14px;
}

ion-button {
  margin-top: 20px;
}
